{% extends "layout.html" %}
{% block body %}


<style>
table, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
}

th, tr {
  padding: 5px;
}

td {
  padding: 1px;

}

#container {

  width: inherit;
  height: inherit;
  padding: 5px;

}

</style>

  <h2>Builds</h2>

  <div id="container">
  <table style="width:50%" border="1">
    <tr>
      <th>Build Name</th>
      <th>CPU</th>
      <th>Motherboard</th>
      <th>Power Supply</th>
      <th>Case</th>
      <th>Graphics Card</th>
      <th>Memory</th>
      <th>Storage</th>
      <th>Total Cost</th>
    </tr>
    {% for n in builds %}
      <tr> {{n|safe}} </tr>
    {% endfor %}
  </table>
  </div>

  <form method="POST" action="{{ url_for('add_new_build') }}">
  <p>Add a new build: <input type="text" name="BuildName"> <input type="submit" value="Add"></p>
  </form>                    


{% endblock %}

