{% extends "layout.html" %}
{% block body %}

<style>
table, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
}


</style>

  <h2>Builds</h2>

  <div>
  <table style="width:100%">

    <tr>
      <th>Build Name</th>
      <th>CPU</th>
      <th>Motherboard</th>
      <th>Power Supply</th>
      <th>Case</th>
      <th>Graphics Card</th>
      <th>Memory</th>
      <th>Storage</th>
      <th>Total Cost</th>
    </tr>
    {% for n in builds %}
      <tr> {{n|safe}} </tr>
    {% endfor %}
  </table>
  </div>

<form method="POST" action="/add_new_build">
<p>Add a new build: <input type="text" name="Build Name"> <input onClick="window.location.href='./build_index.html'" type="submit" value="Add"></p>
</form>



{% endblock %}

