{% extends "layout.html" %}
{% block body %}

<style>

tr:nth-of-type(odd){
  background-color: #D3E3FC;
}

th {
  background-color: #77A6F7;
  text-align: left;
}

td {
  padding: 4px;
}

</style>

  <h2>Cases</h2>
  <form method="POST" action="{{ url_for('search_cases') }}">
    <p>Search case names: <input type="text" name="search_query"> <input type="submit" value="Search"></p>
  </form>
  <div>
    <table style="width:100%">
      <tr>
        <th> Case Name </th>
        <th> Type </th>
        <th> External Bays </th>
        <th> Internal Bays </th>
        <th> Price </th>
        <th> </th>
      </tr>
      {% for row, id in cases %}
        <tr>
          {{row|safe}}
          <td>
            <form method="POST" action="{{ url_for('add_case') }}">
              <div> <input type="submit" value="Add to build"> <input value = "{{id}}" type="hidden" name="case_id"></div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

<p><a href="current_build">Return to your build</a></p>

{% endblock %}
