{% extends "layout.html" %}
{% block body %}

  <h2>CPUs</h2>
  <div>{{data}}</div>
  <div>
    <table style="width:100%">
      <tr>
        <td> CPU Name </td>
        <td> Clock Speed </td>
        <td> # Cores </td>
        <td> TDP </td>
        <td> Price </td>
      </tr>
      {% for row, id in cpus %}
        <tr> 
          {{row|safe}}
          <td>
            <form method="POST" action="/add_cpu">
              <div> <input type="submit" value="Add to build"> <input value = "{{id}}" type="hidden" name="cpu_id"></div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

<p><a href="current_build">Return to your build</a></p>

{% endblock %}