{% extends "layout.html" %}
{% block body %}


  <h2>CPUs</h2>
  <div>
    <table style="width:100%">
      <tr>
        <th> CPU Name </th>
        <th> Clock Speed </th>
        <th> # Cores </th>
        <th> TDP </th>
        <th> Price </th>
      </tr>
      {% for row, id in cpus %}
        <tr> 
          {{row|safe}}
          <td>
            <form method="POST" action="/add_cpu">
              <div> <input type="submit" value="Add to build"> <input value = "{{id}}" type="hidden" name="cpu_id"></div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

<p><a href="current_build">Return to your build</a></p>

{% endblock %}