{% extends "layout.html" %}
{% block body %}

<style>
table, td {
  width:100%;
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  padding-left: 10px;
  text-align: left;
  background-color: #778899;
  font-size: 1em;
}

td {
  padding: 4px;
  border-collapse:;


}

tr:nth-of-type(odd){

  background-color: #D3E3FC;

}

#smaller {

  font-size: 12px;


}

#container {

  width: inherit;+
  height: inherit;
  margin-top: 1em;

}

</style>


  <h2><i>Your Build - </i>{{build_name}}</h2>

  
  <div id="container">
    <table>
      <tr>
        <th style="width:20%;">Part</th> <th style="width:40%;"> Part Name </th> <th> </th> <th> </th>
      </tr>
      <tr>
        <td id="smaller">CPU</td> <td>{{cpu_name}}</td> <td><form method="GET" action="{{ url_for('cpu_index') }}"><input type="submit" value="Select a CPU"></form></td><td></td>
      </tr>
      <tr>
        <td id="smaller">Motherboard</td> <td>{{mobo_name}}</td> <td><form method="GET" action="{{ url_for('motherboard_index') }}"><input type="submit" value="Select a motherboard"></form></td><td></td>
      </tr>
      <tr>
        <td id="smaller">Power Supply</td> <td>{{psu_name}}</td> <td><form method="GET" action="{{ url_for('psu_index') }}"><input type="submit" value="Select a power supply"></form></td><td></td>
      </tr>
      <tr>
        <td id="smaller">Case</td> <td>{{case_name}}</td> <td><form method="GET" action="{{ url_for('case_index') }}"><input type="submit" value="Select a case"></form></td><td></td>
      </tr>
      <tr>

<!--  OLD CODE, see revised GPU, mem, and sto rows below

        <td id="smaller">Graphics Card</td>
        <td>{% for gpu_n in gpu_name %}
          {{gpu_n}}
        {% endfor %}</td>
        <td><form method="GET" action="{{ url_for('gpu_index') }}"><input type="submit" value="Select a graphics card"></form></td><td></td>
      </tr>
      <tr>
        <td id="smaller">Memory</td>
        <td>{% for mem_n in mem_name %}
          {{mem_n}}
        {% endfor %}</td>
        <td><form method="GET" action="{{ url_for('memory_index') }}"><input type="submit" value="Select memory"></form></td><td></td>
      </tr>
      <tr>
        <td id="smaller">Storage</td>
        <td>{% for sto_n in sto_name %}
          {{sto_n}}
        {% endfor %}</td>
        <td><form method="GET" action="{{ url_for('storage_index') }}"><input type="submit" value="Select storage"></form></td><td></td>
      </tr>
-->
      {% for gpu_n, gpu_i in gpu_name %}
        {% if loop.index == 1 %}
          <tr>
            <td id="smaller">Graphics Card</td>
            <td>{{ gpu_n }}</td>
            <td>
              {% if gpu_n != "No graphics card selected" %}
                <form method="POST" action="{{ url_for('remove_gpu') }}"><input type="submit" value="Remove from build"><input value = "{{gpu_i}}" type="hidden" name="gpu_id"></form>
              {% endif %}
            </td>
            <td><form method="GET" action="{{ url_for('gpu_index') }}"><input type="submit" value="Add a graphics card"></form></td>
          </tr>
        {% else %}
          <tr>
            <td></td>
            <td>{{ gpu_n }}</td>
            <td>
              <form method="POST" action="{{ url_for('remove_gpu') }}"><input type="submit" value="Remove from build"><input value = "{{gpu_i}}" type="hidden" name="gpu_id"></form>
            </td>
            <td></td>
          </tr>
        {% endif %}
      {% endfor %}

      {% for mem_n, mem_i in mem_name %}
        {% if loop.index == 1 %}
          <tr>
            <td id="smaller">Memory</td>
            <td>{{ mem_n }}</td>
            <td>
              {% if mem_n != "No memory selected" %}
                <form method="POST" action="{{ url_for('remove_mem') }}"><input type="submit" value="Remove from build"><input value = "{{mem_i}}" type="hidden" name="mem_id"></form>
              {% endif %}
            </td>
            <td><form method="GET" action="{{ url_for('memory_index') }}"><input type="submit" value="Add memory"></form></td>
          </tr>
        {% else %}
          <tr>
            <td></td>
            <td>{{ mem_n }}</td>
            <td>
              <form method="POST" action="{{ url_for('remove_mem') }}"><input type="submit" value="Remove from build"><input value = "{{mem_i}}" type="hidden" name="mem_id"></form>
            </td>
            <td></td>
          </tr>
        {% endif %}
      {% endfor %}

      {% for sto_n, sto_i in sto_name %}
        {% if loop.index == 1 %}
          <tr>
            <td id="smaller">Storage</td>
            <td>{{ sto_n }}</td>
            <td>
              {% if sto_n != "No storage selected" %}
                <form method="POST" action="{{ url_for('remove_sto') }}"><input type="submit" value="Remove from build"><input value = "{{sto_i}}" type="hidden" name="sto_id"></form>
              {% endif %}
            </td>
            <td><form method="GET" action="{{ url_for('storage_index') }}"><input type="submit" value="Add storage"></form></td>
          </tr>
        {% else %}
          <tr>
            <td></td>
            <td>{{ sto_n }}</td>
            <td>
              <form method="POST" action="{{ url_for('remove_sto') }}"><input type="submit" value="Remove from build"><input value = "{{sto_i}}" type="hidden" name="sto_id"></form>
            </td>
            <td></td>
          </tr>
        {% endif %}
      {% endfor %}

      <tr>
        <td id="smaller"><strong>Total Cost:</strong></td> <td></td> <td></td> <td>${{total_cost}}</td>

      </tr>
    </table>
  </div>

<p> <a href="{{ url_for('add_complete_build') }}">Submit your build</a> </p>
<p> <a href="{{ url_for('build_index') }}">Return to all builds</a> </p>

<!-- <form method="POST" action="/add_complete_build">
<p><input type="submit" value="Add"></p>
</form>
 -->
{% endblock %}
