{% extends "layout.html" %}
{% block body %}

<style>
table, td {
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #77A6F7;
  text-align: left;
}

td {
  padding: 4px;
}

tr:nth-of-type(odd){
  background-color: #D3E3FC; 
}

#smaller {
  font-size: 12px;
  font-style: italic;
}

#container {
  width: inherit;
  height: inherit;
  margin-top: 1em;
}

#final{
  background-color: #FFCCBC;
}

input[type="submit"] {
    width: inherit;
    margin: 20px;
}


</style>


  <h2><i>Your Build - </i>{{build_name}}</h2>

  
  <div id="container">
    <table>
      <tr>
        <th style="width:20%;">Part</th> <th style="width:35%;"> Part Name </th> <th> Price </th> <th> </th> <th> </th>
      </tr>

      <tr>
        <td id="smaller">CPU</td> <td>{{cpu_name}}</td> <td> {% if cpu_price is defined %} ${{ cpu_price }} {% endif %} </td> <td></td> <td><form method="GET" action="{{ url_for('cpu_index') }}"><input type="submit" value="Select a CPU"></form></td>
      </tr>

      <tr>
        <td id="smaller">Motherboard</td> <td>{{mobo_name}}</td> <td> {% if mobo_price is defined %} ${{ mobo_price }} {% endif %} </td> <td></td> <td><form method="GET" action="{{ url_for('motherboard_index') }}"><input type="submit" value="Select a motherboard"></form></td>
      </tr>

      <tr>
        <td id="smaller">Power Supply</td> <td>{{psu_name}}</td>  <td> {% if psu_price is defined %} ${{ psu_price }} {% endif %} </td> <td></td> <td><form method="GET" action="{{ url_for('psu_index') }}"><input type="submit" value="Select a power supply"></form></td>
      </tr>

      <tr>
        <td id="smaller">Case</td> <td>{{case_name}}</td> <td> {% if case_price is defined %} {{ case_price }} {% endif %} </td> <td></td> <td><form method="GET" action="{{ url_for('case_index') }}"><input type="submit" value="Select a case"></form></td>
      </tr>

      {% for gpu_n, gpu_i, gpu_p in gpu_name %}
        {% if loop.index == 1 %}
          <tr>
            <td id="smaller">Graphics Card</td>
            <td>{{ gpu_n }}</td>
            <td>
              {% if gpu_n != "No graphics card selected" %}
                ${{ gpu_p }}
              {% endif %}
            </td>
            <td>
              {% if gpu_n != "No graphics card selected" %}
                <form method="POST" action="{{ url_for('remove_gpu') }}"><input type="submit" value="Remove from build"><input value = "{{gpu_i}}" type="hidden" name="gpu_id"></form>
              {% endif %}
            </td>
            <td><form method="GET" action="{{ url_for('gpu_index') }}"><input type="submit" value="Add a graphics card"></form></td>
          </tr>
        {% else %}
          <tr>
            <td></td>
            <td>{{ gpu_n }}</td>
            <td>${{ gpu_p }}</td>
            <td>
              <form method="POST" action="{{ url_for('remove_gpu') }}"><input type="submit" value="Remove from build"><input value = "{{gpu_i}}" type="hidden" name="gpu_id"></form>
            </td>
            <td></td>
          </tr>
        {% endif %}
      {% endfor %}

      {% for mem_n, mem_i, mem_p in mem_name %}
        {% if loop.index == 1 %}
          <tr>
            <td id="smaller">Memory</td>
            <td>{{ mem_n }}</td>
            <td>
              {% if mem_n != "No memory selected" %}
                ${{ mem_p }}
              {% endif %}
            </td>
            <td>
              {% if mem_n != "No memory selected" %}
                <form method="POST" action="{{ url_for('remove_mem') }}"><input type="submit" value="Remove from build"><input value = "{{mem_i}}" type="hidden" name="mem_id"></form>
              {% endif %}
            </td>
            <td><form method="GET" action="{{ url_for('memory_index') }}"><input type="submit" value="Add memory"></form></td>
          </tr>
        {% else %}
          <tr>
            <td></td>
            <td>{{ mem_n }}</td>
            <td>${{ mem_p }}</td>
            <td>
              <form method="POST" action="{{ url_for('remove_mem') }}"><input type="submit" value="Remove from build"><input value = "{{mem_i}}" type="hidden" name="mem_id"></form>
            </td>
            <td></td>
          </tr>
        {% endif %}
      {% endfor %}

      {% for sto_n, sto_i, sto_p in sto_name %}
        {% if loop.index == 1 %}
          <tr>
            <td id="smaller">Storage</td>
            <td>{{ sto_n }}</td>
            <td>
              {% if sto_n != "No storage selected" %}
                ${{ sto_p }}
              {% endif %}
            </td>
            <td>
              {% if sto_n != "No storage selected" %}
                <form method="POST" action="{{ url_for('remove_sto') }}"><input type="submit" value="Remove from build"><input value = "{{sto_i}}" type="hidden" name="sto_id"></form>
              {% endif %}
            </td>
            <td><form method="GET" action="{{ url_for('storage_index') }}"><input type="submit" value="Add storage"></form></td>
          </tr>
        {% else %}
          <tr>
            <td></td>
            <td>{{ sto_n }}</td>
            <td>${{ sto_p }}</td>
            <td>
              <form method="POST" action="{{ url_for('remove_sto') }}"><input type="submit" value="Remove from build"><input value = "{{sto_i}}" type="hidden" name="sto_id"></form>
            </td>
            <td></td>
          </tr>
        {% endif %}
      {% endfor %}

      <tr id="final">
        <td id="smaller"><strong>Total Cost:</strong></td> <td></td> <td></td> <td></td> <td>${{"%.2f"|format(total_cost)}}</td>

      </tr>
    </table>
  </div>

<p> <a href="{{ url_for('add_complete_build') }}">Submit your build</a> </p>
<p> <a href="{{ url_for('build_index') }}">Return to all builds</a> </p>

<!-- <form method="POST" action="/add_complete_build">
<p><input type="submit" value="Add"></p>
</form>
 -->
{% endblock %}
