<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>PC Part Database</h1>
  <h2>Builds</h2>
  <div>{{builds}}</div>

  <div>
  <table style="width:100%">
    <tr>
      <td>Build Name</td>
      <td>CPU</td>
      <td>Motherboard</td>
      <td>Power Supply</td>
      <td>Case</td>
      <td>Graphics Card</td>
      <td>Memory</td>
      <td>Storage</td>
      <td>Total Cost</td>
    </tr>
    {% for n in builds %}
    <tr> {{n}} </tr>
    {% endfor %}
  </table>
  </div>

<form method="POST" action="/add_new_build">
<p>Add a new build: <input type="text" name="Build Name"> <input onClick="window.location.href='./build_index.html'" type="submit" value="Add"></p>
</form>

</body>


</html>
