{% extends "layout.html" %}
{% block body %}

<style>

tr:nth-of-type(odd){
  background-color: #D3E3FC;
}

th {
  background-color: #77A6F7;
  text-align: left;
}


</style>


  <h2>Memory</h2>
  <div>
    <table style="width:100%">
      <tr>
        <th> Memory Name </th>
        <th> Speed </th>
        <th> CAS </th>
        <th> Module Size </th>
        <th> Module Number </th>
        <th> Price </th>
        <th></th>
      </tr>
      {% for row, id in mems %}
        <tr> 
          {{row|safe}}
          <td>
            <form method="POST" action="{{ url_for('add_mem') }}">
              <div> <input type="submit" value="Add to build"> <input value = "{{id}}" type="hidden" name="mem_id"></div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

<p><a href="current_build">Return to your build</a></p>

{% endblock %}