{% extends "layout.html" %}
{% block body %}


  <h2>Motherboards</h2>
  <div>{{data}}</div>
  <div>
    <table style="width:100%">
      <tr>
        <th> Motherboard Name </th>
        <th> Ram Slots </th>
        <th> Price </th>
      </tr>
      {% for row, id in mobos %}
        <tr> 
          {{row|safe}}
          <td>
            <form method="POST" action="/add_mobo">
              <div> <input type="submit" value="Add to build"> <input value = "{{id}}" type="hidden" name="mobo_id"></div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

<p><a href="current_build">Return to your build</a></p>

{% endblock %}