{% extends "layout.html" %}
{% block body %}

<style>
  
tr:nth-of-type(odd){
  background-color: #D3E3FC;
}

th {
  padding: 5px 10px;
  background-color: #77A6F7;
}


</style>



  <h2>Motherboards</h2>
  <div>{{data}}</div>
  <div>
    <table style="width:100%">
      <tr>
        <th> Motherboard Name </th>
        <th> Ram Slots </th>
        <th> Price </th>
        <th></th>
      </tr>
      {% for row, id in mobos %}
        <tr> 
          {{row|safe}}
          <td>
            <form method="POST" action="{{ url_for('add_mobo') }}">
              <div> <input type="submit" value="Add to build"> <input value = "{{id}}" type="hidden" name="mobo_id"></div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

<p><a href="current_build">Return to your build</a></p>

{% endblock %}