{% extends "layout.html" %}
{% block body %}


  <h2>Storage</h2>
  <div>
    <table style="width:100%">
      <tr>
        <th> Storage Name </th>
        <th> Series </th>
        <th> Form </th>
        <th> Type </th>
        <th> Capacity </th>
        <th> Cache </th>
        <th> Price </th>
      </tr>  
      {% for row, id in stos %}
        <tr>
          {{row|safe}}
          <td>
            <form method="POST" action="/add_sto">
              <div> <input type="submit" value="Add to build"> <input value = "{{id}}" type="hidden" name="sto_id"></div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

<p><a href="current_build">Return to your build</a></p>

{% endblock %}